h1, h2, p, li {
    font-family: 'Roboto', sans-serif;
}

/*body {
    background-color: #11161C;
    color: #ffffff;
}*/

/* Navigation bar */
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    text-align: left;
    padding-top: 1%;
    padding-right: 16px;
    padding-bottom: 1%;
    padding-left: 16px;
}

nav {
    width: 72%;
    padding: 1%;
    text-align: right;
}

ul {
    width: 50%;
    margin-left: auto;
}

li {
    padding-top: 1%;
    padding-right: 16px;
    padding-bottom: 1%;
    padding-left: 16px
}

/* Hero */
.heroImg{
    height: 750px;
    padding: 1px;
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 24px;
}

/* Footer */
footer {
    background-color: #11161C;
    text-align: center
}

footer ul{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
}
